@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white;
}
.bg-custom-blue {
  background-color: #3184ca;
}
.text-custom-blue{
  color: #3184ca;
}
.text-custom-grey{
  color:#747d8d;
}